.bottom{
    width: 100%;
    height: 8%;
    background: black;
    margin-top: 52%;
    padding: 0;
    opacity: 0.8;
}

body{
    overflow: hidden;
    background-image: url("../pics/donatello.jpg");    
}

h2{
    background-color: #262626;
    border-top: 5px #141414 solid;
    border-bottom: 5px #141414 solid;
    color: #BABDBD;
}

.main{
    width: 100%;
    height: 100%;
}

.header{
    background-color: #2E2E2E;
    border-radius: 10px 10px 0 0;
    color: white;
    opacity: 0.9;
}

.article{
    min-width: 250px;
    min-height: 200px;
    max-width: 700px;
    max-height: 600px;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    background: #D9D9D9;
    border: 1px black solid;
    z-index: 1;
}

.aside{
    width: 100%;
    min-height: 50%;
    max-height: 100%;
    overflow-y: auto;
    background: #D9D9D9;
}

.footer{
    width: 100%;
    height: 20px;
    border-radius: 0 0 10px 10px;
    background: #2E2E2E;
    color: white;
}

.delete{
    display: block;
    float: right;
    background: url("../pics/fileclose.png") no-repeat;
    background-size:25px;
    background-position:center center;
    height: 25px;
    width: 25px;
    margin:0 5px 10px 5px;
}

.box{
    float: left;
    margin: 10px;
    background: #727371;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.thumb{
    margin-top: 7px;
    margin-bottom: 7px;
}

.URL{
    width: 100%;
    height: 100%;
}

.rssFeed{
    overflow: auto;
}

.reset{
    float: right;
    background-size:25px;
    background-position:center center;
    height: 25px;
    width: 25px;
    margin:0 5px 10px 5px;
}

.rss{
    height: 32px;
    width: 32px;
}

.game{
    height: 32px;
    width: 32px;
}

#img{
    margin-top: 1%;
}
